<app-progress *ngIf="mProgress"/>

<section class="login-page bg-body-secondary1">
  <div class="login-box">
    <!-- <div class="login-logo">
      <a routerLink="/">
        <img src="images/logo_wide.png" class="img-fluid" alt="Logo" width="86">
      </a>
      <p class="text-xs text-muted mb-0">To Learn with ease at Anza<br> Academy</p>
      <h6>Login to your Account</h6>
    </div> -->
    <div class="card">
      <div class="card-header text-center">
        <div class="login-logo p-0 m-0">
          <a routerLink="/">
            <img src="images/logo_wide.png" class="img-fluid w-25" alt="Logo">
          </a>
        </div>
      </div>
      <div class="card-body login-card-body">
        <p class="login-box-msg text-danger ">Sign in to start your session</p>

        <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email" formControlName="email" autocomplete="email"
            [ngClass]="{ 'is-invalid': itemForm.get('email')?.invalid && (itemForm.get('email')?.dirty || itemForm.get('email')?.touched) }"/>
            <div class="input-group-text">
              <span class="bi bi-person"></span>
            </div>
            <div *ngIf="itemForm.get('email')?.invalid && (itemForm.get('email')?.dirty || itemForm.get('email')?.touched)" class="invalid-feedback d-block" role="alert">
              <div *ngIf="itemForm.get('email')?.errors?.['required']">This field is required.</div>
              <div *ngIf="itemForm.get('email')?.errors?.['email']">Enter a valid email address.</div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="password"
            [ngClass]="{ 'is-invalid': itemForm.get('password')?.invalid && (itemForm.get('password')?.dirty || itemForm.get('password')?.touched) }"/>
            <div class="input-group-text">
              <span class="bi bi-lock-fill"></span>
            </div>
            <div *ngIf="itemForm.get('password')?.invalid && (itemForm.get('password')?.dirty || itemForm.get('password')?.touched)" class="invalid-feedback d-block" role="alert">
              <div *ngIf="itemForm.get('password')?.errors?.['required']">This field is required.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault"> Remember Me</label>
              </div>
            </div>
            <div class="col-4">
              <div class="d-grid gap-2">
                <button [disabled]="itemForm.invalid" type="submit" class="btn btn-success">Login</button>
              </div>
            </div>
          </div>
        </form>

        <p class="mb-1">
          <small>Forgot password? <a routerLink="/auth/reset"> Reset</a></small>
        </p>
        <p class="mb-0">
          <small>Don't have an account? <a routerLink="/auth/register" class="text-center"> Register</a></small>
        </p>
      </div>
    </div>
  </div>
</section>
