<app-progress *ngIf="mProgress"/>

<section class="register-page bg-body-secondary1">
  <div class="register-box">
    <!-- <div class="register-logo">
      <a routerLink="/">
        <img src="images/logo1.png" class="img-fluid" alt="Logo" width="86">
      </a>
      <p class="text-xs text-muted mb-0">To Learn with ease at Anza<br> Academy</p>
      <h6>Create an Account</h6>
    </div> -->
    <div class="card">
      <div class="card-header text-center">
        <div class="login-logo p-0 m-0">
          <a routerLink="/">
            <img src="images/logo_wide.png" class="img-fluid w-25" alt="Logo">
          </a>
        </div>
      </div>
      <div class="card-body register-card-body">
        <p class="register-box-msg text-warning ">Register now!</p>
          <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="First Name" formControlName="first_name"
              [ngClass]="{ 'is-invalid': itemForm.get('first_name')?.invalid && (itemForm.get('first_name')?.dirty || itemForm.get('first_name')?.touched) }"/>
              <div class="input-group-text">
                <span class="bi bi-person"></span>
              </div>
              <div *ngIf="itemForm.get('first_name')?.invalid && (itemForm.get('first_name')?.dirty || itemForm.get('first_name')?.touched)" class="invalid-feedback d-block" role="alert">
                <div *ngIf="itemForm.get('first_name')?.errors?.['required']">This field is required.</div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Last Name" formControlName="last_name"
              [ngClass]="{ 'is-invalid': itemForm.get('last_name')?.invalid && (itemForm.get('last_name')?.dirty || itemForm.get('last_name')?.touched) }"/>
              <div class="input-group-text">
                <span class="bi bi-person"></span>
              </div>
              <div *ngIf="itemForm.get('last_name')?.invalid && (itemForm.get('last_name')?.dirty || itemForm.get('last_name')?.touched)" class="invalid-feedback d-block" role="alert">
                <div *ngIf="itemForm.get('last_name')?.errors?.['required']">This field is required.</div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" formControlName="email"
              [ngClass]="{ 'is-invalid': itemForm.get('email')?.invalid && (itemForm.get('email')?.dirty || itemForm.get('email')?.touched) }"/>
              <div class="input-group-text">
                <span class="bi bi-envelope"></span>
              </div>
              <div *ngIf="itemForm.get('email')?.invalid && (itemForm.get('email')?.dirty || itemForm.get('email')?.touched)" class="invalid-feedback d-block" role="alert">
                <div *ngIf="itemForm.get('email')?.errors?.['required']">This field is required.</div>
                <div *ngIf="itemForm.get('email')?.errors?.['email']">Enter a valid email address.</div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password" formControlName="password"
              [ngClass]="{ 'is-invalid': itemForm.get('password')?.invalid && (itemForm.get('password')?.dirty || itemForm.get('password')?.touched) }"/>
              <div class="input-group-text">
                <span class="bi bi-lock-fill"></span>
              </div>
              <div *ngIf="itemForm.get('password')?.invalid && (itemForm.get('password')?.dirty || itemForm.get('password')?.touched)" class="invalid-feedback d-block" role="alert">
                <div *ngIf="itemForm.get('password')?.errors?.['required']">This field is required.</div>
                <div *ngIf="itemForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
              </div>
            </div>
            <div class="row">
              <div class="text-xs my-1">
                <small>By registering you agree to our <a routerLink="/terms-of-service" target="_blank">Terms</a> and <a routerLink="/privacy-policy" target="_blank">Policy</a></small>
              </div>
              <div class="col-8">
                <div class="form-check1">
                  <label class="form-check-label" for="flexCheckDefault">
                    <small>Already have an account? <a routerLink="/auth/login">Login</a></small>
                  </label>
                </div>
              </div>
              <div class="col-4">
                <div class="d-grid gap-2">
                  <button [disabled]="itemForm.invalid" type="submit" class="btn btn-success">Register</button>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</section>
