<!-- <app-progress *ngIf="mProgress"/> -->

<section>
  <div class="app-content-header">
    <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="mb-0">Course Modules</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Course Modules</li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
          </ol>
        </div>
      </div>
    </div> -->
  </div>

  <div class="app-content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12 col-12">

          <div class="card">
            <div class="card-header">
              <div class="card-title">
                Upload Media
              </div>
              <div class="card-tools">
              </div>
            </div>
            <div class="card-body">

              <app-create/>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
