
<div class="row">
  <div class="col-md-12">
    <!-- <img [src]="item.thumbnail_url" width="100%" height="auto" alt="Thumbnail" class="img-fluid rounded ratio ratio-16x9"/> -->
     <div class="position-relative d-inline-block">
      <!-- <img [src]="'/images/placeholder.png'" width="100%" height="auto" alt="Thumbnail" class="img-fluid rounded ratio ratio-16x9"/> -->
      <img [src]="item?.thumbnail_url ? item?.thumbnail_url : '/images/placeholder.png'" width="100%" height="auto" alt="Thumbnail" class="img-fluid rounded ratio ratio-16x9"/>
      <!-- <span *ngIf="this.item?.type_id==2" class="btn btn-outline-light btn-sm position-absolute bottom-0 end-0"><small>{{ item?.live_stream_status?.name }}</small></span> -->
    </div>
  </div>
  <div class="col-md-12">
    <div class="position-relative">
      {{ item?.title }} <span *ngIf="this.item?.type_id==2 && this.item?.live_stream_status_id===3" class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger text-xs">LIVE</span>
    </div>
  </div>
  <div class="col-md-6">
    <small class="text-muted">{{ item?.total_views }}</small>
  </div>
  <div class="col-md-6">
    <small class="text-muted">{{ item?.readable_date }}</small>
  </div>
</div>

<!-- <div class="card h-100 shadow-sm">
  <img [src]="item.thumbnail_url" class="card-img-top rounded" alt="Video Thumbnail">
  <div class="card-body d-flex flex-column">
    <h6 class="card-title mb-2">{{ item.title }}</h6>
    <div class="mt-auto">
      <div class="row">
        <div class="col-6">
          <small class="text-muted">{{ item.total_views }}</small>
        </div>
        <div class="col-6 text-end">
          <small class="text-muted">{{ item.readable_date }}</small>
        </div>
      </div>
    </div>
  </div>
</div> -->
