<app-progress *ngIf="mProgress"/>

<section>
  <div class="app-content-header">
    <div class="container-fluid">
      <!-- <div class="row">
        <div class="col-sm-6">
          <h3 class="mb-0">Media</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Media</li>
            <li class="breadcrumb-item active" aria-current="page">Show</li>
          </ol>
        </div>
      </div> -->
    </div>
  </div>

  <div class="app-content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12 col-12">

          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <div class="d-flex align-items-center mb-3">
                  <span class="user-image rounded-circle bg-success text-white fw-bold d-inline-flex justify-content-center align-items-center me-3" style="width: 64px; height: 64px; font-size: 1rem;">
                    {{ this.mAppContextService.getInitials(mCurrentUser.name) }}
                  </span>
                  <div>
                    <p class="mb-0 fw-semibold">{{ mCurrentUser.name }}</p>
                    <small class="text-muted">{{ mCurrentUser.role?.name }}</small>
                  </div>
                </div>
                <ul class="nav nav-tabs border-0 text-uppercase" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link border-0 text-uppercase text-sm" routerLink="/media/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home">
                      About
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link border-0 text-uppercase text-sm" routerLink="/media/my-media" routerLinkActive="active" id="media-tab" data-bs-toggle="tab" data-bs-target="#media" type="button" role="tab" aria-controls="media">
                      My Media
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link border-0 text-uppercase text-sm" routerLink="/media/my-playlist" routerLinkActive="active" id="playlist-tab" data-bs-toggle="tab" data-bs-target="#playlist" type="button" role="tab" aria-controls="playlist">
                      Playlist
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link border-0 text-uppercase text-sm" routerLink="/media/live-streams" routerLinkActive="active" id="live-streams-tab" data-bs-toggle="tab" data-bs-target="#live-streams" type="button" role="tab" aria-controls="live-streams">
                      Live Streams
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link border-0 text-uppercase text-sm" routerLink="/media/analytics" routerLinkActive="active" id="analytics-tab" data-bs-toggle="tab" data-bs-target="#analytics" type="button" role="tab" aria-controls="analytics">
                      Analytics
                    </button>
                  </li>
                </ul>
              </div>
              <div class="card-tools">
                <a routerLink="/profile/edit/{{mCurrentUser.id}}" class="btn btn-danger  btn-sm">
                  <i class="bi bi-pencil-fill"></i> Edit Profile
                </a>
              </div>
            </div>
            <div class="card-body p-0 m-0">

              <div class="tab-content container-fluid p-3" id="myTabContent">
                <div *ngIf="router.url === '/media/about'" class="tab-pane fade show active">
                  <div class="mb-3">
                    <label for="bio" class="form-label">Biography:</label>
                    <div class="text-muted">{{ mCurrentUser.bio }}</div>
                  </div>
                </div>
                <div *ngIf="router.url === '/media/my-media'" class="tab-pane fade show active">
                  <div class="mb-3">
                    <label for="uploads" class="form-label">Uploads:</label>
                    <div *ngIf="myMedia && myMedia.length>0; else noItemsTemplate" class="row row-cols-1 row-cols-md-3 g-4">
                      <div *ngFor="let item of myMedia" class="col">
                        <div *ngIf="item">
                          <div class="btn-group w-100 mb-1" role="group" aria-label="Basic mixed styles example">
                            <a routerLink="/media/show/{{item.id}}" class="btn btn-dark btn-sm">Show</a>
                            <a routerLink="/media/edit/{{item.id}}" class="btn btn-success btn-sm">Edit</a>
                            <button (click)="onDelete(item)" type="button" class="btn btn-danger btn-sm">Delete</button>
                          </div>
                          <app-media-card [data]="item"/>
                          <div class="d-flex align-items-center1 gap-2">
                            <span class="badge rounded-pill" [ngClass]="{'bg-warning text-dark': item.status_id == 1, 'bg-success': item.status_id == 2,'bg-danger': item.status_id == 3}"> {{ item.status?.name }}</span>
                            <span class="badge rounded-pill" [ngClass]="{'bg-secondary': item.media_status_id == 1, 'bg-warning text-dark': item.media_status_id == 2,'bg-dark': item.media_status_id == 3}"> {{ item.media_status?.name }}</span>
                          </div>
                          <div *ngIf="mAppContextService.hasRoles([1,2,4])" class="my-1">
                            <a routerLink="/media/process/{{item.id}}" class="btn btn-success btn-sm w-100">
                              <i class="bi bi-pencil-square"></i> Process
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-template #noItemsTemplate>
                      <p class="p-5 text-center text-muted">No items</p>
                    </ng-template>
                  </div>
                </div>
                <div *ngIf="router.url === '/media/my-playlist'" class="tab-pane fade show active">
                  <div class="mb-3">
                    <label for="bio" class="form-label">Playlists:</label>
                    <div *ngIf="myPlaylists && myPlaylists.length>0; else noItemsTemplate" class="row row-cols-1 row-cols-md-3 g-4">
                      <div *ngFor="let item of myPlaylists" class="col">
                        <a *ngIf="item" routerLink="/media/show/{{ item.id }}" class="text-decoration-none text-reset">
                          <app-media-card [data]="item"/>
                        </a>
                      </div>
                    </div>
                    <ng-template #noItemsTemplate>
                      <p class="p-5 text-center text-muted">No items</p>
                    </ng-template>
                  </div>
                </div>
                <div *ngIf="router.url === '/media/live-streams'" class="tab-pane fade show active">
                  <div class="mb-3">
                    <label for="bio" class="form-label">Live Streams:</label>
                    <div *ngIf="mLiveStreams && mLiveStreams.length>0; else noItemsTemplate" class="row row-cols-1 row-cols-md-3 g-4">
                      <div *ngFor="let item of mLiveStreams" class="col">
                        <a *ngIf="item" routerLink="/media/show/{{ item.id }}" class="text-decoration-none text-reset">
                          <app-media-card [data]="item"/>
                        </a>
                        <div class="no-wrap">
                          <small>Server Link: <span class="text-muted">{{ item.server_link }}</span></small> <br>
                          <small>Stream Key: <span class="text-muted">{{ item.stream_key }}</span></small>
                        </div>
                      </div>
                    </div>
                    <ng-template #noItemsTemplate>
                      <p class="p-5 text-center text-muted">No items</p>
                    </ng-template>
                  </div>
                </div>
                <div *ngIf="router.url === '/media/analytics'" class="tab-pane fade show active">
                  <div class="mb-3">
                    <label for="analytics" class="form-label">Analytics:</label>
                    <app-analytics/>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
