<app-progress *ngIf="mProgress"/>

<section>
  <div class="app-content-header">
    <div class="container-fluid">
      <!-- <div class="row">
        <div class="col-sm-6">
          <h3 class="mb-0">Media</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Media</li>
          </ol>
        </div>
      </div> -->
    </div>
  </div>

  <div class="app-content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12 col-12">

          <div class="card">
            <div class="card-header">
              <div class="card-title">
               History ({{mItems.length}})
              </div>
            </div>
            <div class="card-body">
              <div *ngIf="mItems && mItems.length>0; else noItemsTemplate">

                <div *ngFor="let item of mItems;">
                  <a routerLink="/media/show/{{ item.media?.id }}" class="row mb-2 text-decoration-none text-reset me-1">
                    <div class="col-md-2">
                      <!-- <app-media-card [data]="item?.media"/> -->
                      <img [src]="item.media.thumbnail_url" width="100%" height="auto" alt="Thumbnail" class="img-fluid rounded ratio ratio-16x9"/>
                    </div>
                    <div class="col-md-10">
                      <h6 class="mb-1">{{ item.media?.title}}</h6>
                      <div class="text-muted text-xs">
                        <span>{{ item.media?.user?.name}}</span>&nbsp;&#x2022;
                        <span>{{ item.media?.total_views}}</span>&nbsp;&#x2022;
                        <span>{{ item.media?.readable_date}}</span>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
              <div *ngIf="links">
                <ul class="pagination">
                  <li *ngFor="let item of links" [ngClass]="{'active': item.active, 'disabled': !item.url}" class="page-item">
                    <a class="page-link" (click)="onChangePage(item.url)" [innerHTML]="item.label"></a>
                  </li>
                </ul>
              </div>
              <ng-template #noItemsTemplate>
                <p class="p-5 text-center text-muted">No items</p>
              </ng-template>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
