<!-- navbar-search.component.html -->
<!-- <div class="dropdown nav-link1 me-2" [class.show]="suggestions.length > 0">
  <input type="text" [(ngModel)]="query" (input)="onSearch(query)" placeholder="Search..." class="form-control form-control-sm."/>
  <ul class="dropdown-menu show w-1001" *ngIf="suggestions.length > 0">
    <li *ngFor="let suggestion of suggestions">
      <button type="button" class="dropdown-item" (click)="onSelect(suggestion)">{{ suggestion.name }}</button>
    </li>
  </ul>
</div> -->
