<div class="video-wrapper">
  <video #media id="singleVideo" preload="auto" crossorigin controls controls autoplay muted playsinline class="w-100 rounded-3" style="aspect-ratio: 16/9; border: none;"></video>

  <div style="display: flex; align-items: center; justify-content: space-between;">
    <div class="me-1">
      <span *ngIf="this.item?.type_id==2" class="badge rounded-pill bg-danger">LIVE</span>
    </div>
    <div class="text-end">
      <label for="quality">Quality:&nbsp;</label>
      <select id="quality" (change)="setQuality($event)">
        <option [value]="-1">Auto</option>
        <option *ngFor="let mQuality of mQualities; let i = index" [value]="i">
          {{ mQuality }}
        </option>
      </select>
    </div>
  </div>

</div>

