<!-- <div class="p-3">
  <h3>🎥 Now Playing</h3>
  <p><strong>Video ID:</strong> {{ mVideoId }}</p>
  <p><strong>Playlist ID:</strong> {{ mPlaylistId || 'None' }}</p>
  <p><strong>Category ID:</strong> {{ mCategoryId || 'None' }}</p>
  <app-hls-player *ngIf="item" [data]="item" (mVideoEnded)="onVideoEnded()"/>
</div> -->



<app-progress *ngIf="mProgress"/>

<section>
  <div class="app-content-header">
    <div class="container-fluid">
      <!-- <div class="row">
        <div class="col-sm-6">
          <h3 class="mb-0">Media</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Media</li>
            <li class="breadcrumb-item active" aria-current="page">Show</li>
          </ol>
        </div>
      </div> -->
    </div>
  </div>

  <div class="app-content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12 col-12">

          <div class="card1">
            <!-- <div class="card-header">
              <div class="card-title">
                Show Media
              </div>
              <div class="card-tools">
              </div>
            </div> -->
            <div class="card-body p-0 m-0">

              <div class="row">
                <div class="col-md-9 order-md-1">
                  <div class="row">
                    <div class="col-md-12">
                      <!-- <app-video-card *ngIf="item" [data]="item"/> -->
                      <!-- <app-shaka-player/> -->
                      <app-hls-player *ngIf="item" [data]="item" (mVideoEnded)="onVideoEnded()"/>
                    </div>
                    <div class="col-md-12">
                      <h6 class="fw-bold1 card-title1">{{ item.title }}</h6>
                    </div>
                    <div class="col-6">
                      {{ item.total_views}}
                    </div>
                    <div class="col-6">
                      <div class="d-flex justify-content-end">
                          <span (click)="toggleReact(item, 1)" class="mx-2 btn">
                            <span [ngClass]="{ 'text-primary': mItem.is_liked }">
                              <i class="bi me-2" [ngClass]="mItem.is_liked ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'"></i>{{ mItem.likes_count }}
                            </span>
                          </span>
                          <span (click)="toggleReact(item, 2)" class="mx-2 btn">
                            <span [ngClass]="{ 'text-danger': mItem.is_disliked }">
                              <i class="bi me-2" [ngClass]="mItem.is_disliked ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-down'"></i>{{ mItem.dislikes_count }}
                            </span>
                          </span>
                          <span data-bs-toggle="modal" data-bs-target="#modal" class="mx-2 btn">
                            <i class="bi bi-bookmark-fill me-2"></i><span>SAVE</span>
                          </span>
                          <span data-bs-toggle="modal" data-bs-target="#myModal" class="mx-2 btn">
                            <i class="bi bi-share-fill me-2"></i><span>SHARE</span>
                          </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                      <hr>
                    </div>
                    <div class="col-md-12">
                      <a routerLink="/users/show/{{item.user?.id}}" class="text-decoration-none text-reset1 d-flex align-items-center text-success">
                        <div class="rounded-circle bg-success text-white d-flex justify-content-center align-items-center fw-bold" style="width:40px; height:40px;">
                          {{ mAppContextService.getInitials(item.user?.full_name) }}
                        </div>
                        <div class="ms-2">
                          <h6 class="fw-semibold1 mb-0">{{ item.user?.full_name }}</h6>
                          <div class="text-xs text-muted mt-0">Published {{ item.readable_date}}</div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-12">
                      <div class="py-2">
                        <p [innerHTML]="item.description" class="justify-text" style="word-break: break-word; white-space: normal;"></p>
                        <div>
                          <label for="categories" class="text-muted me-2">Categories:</label>
                          <!-- <a *ngFor="let cat of item.media_categories; let last = last" routerLink="/categories/show/{{cat.category_id}}" class="text-decoration-none"> -->
                          <a *ngFor="let cat of item.media_categories; let last = last" [routerLink]="['/media/watch']" [queryParams]="{ category: cat.category_id }" class="text-decoration-none text-success">
                            {{ cat.name }}<span *ngIf="!last">,</span>
                          </a>
                        </div>
                        <div>
                          <label for="tags" class="text-muted me-2">Tags:</label>
                          <a href="#" (click)="$event.preventDefault()" class="text-decoration-none text-success">{{ item.tags }}</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <hr>
                    </div>
                    <div class="col-md-12">
                      <app-comments *ngIf="item" [data]="item"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 order-md-2">
                  <!-- Playlist -->
                  <div *ngIf="mMediaPlaylist && mPlaylist" class="accordion mb-3" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                          <!-- {{ mPlaylist?.name }} -->
                          <div class="align-items-start">
                            <span class="fw-semibold text-truncate">
                              {{ mPlaylist?.name }}
                            </span> <br>
                            <small class="text-muted text-xs">
                              {{ mPlaylist?.user?.full_name }} - {{ mCurrentMediaPlaylistIndex+1}}/{{ mPlaylist?.total_media }}
                            </small>
                          </div>
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">

                          <div class="list-group list-group-numbered">
                            <a *ngFor="let mItem of mMediaPlaylist; index as i" class="list-group-item border-0 d-flex justify-content-between align-items-start text-decoration-none text-reset" [ngClass]="{'active bg-warning bg-opacity-10': mItem.media.id === mVideoId }" [routerLink]="['/media/watch']" [queryParams]="{ video: mItem.media.id, playlist: mPlaylistId }" queryParamsHandling="merge">
                              <div class="ms-2 me-auto flex-grow-1">
                                <!-- <div class="fw-bold">{{ mItem?.media.title }}</div> -->
                                <app-media-card [data]="mItem.media"/>
                              </div>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Category -->
                  <div *ngIf="mCategorylist && mCategory;" class="accordion mb-3" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                          <div class="align-items-start">
                            <span class="fw-semibold text-truncate">
                              {{ mCategory?.name }}
                            </span> <br>
                            <small class="text-muted text-xs">
                              {{ mCurrentCategorylistIndex+1}}/{{ mCategory?.total_media }}
                            </small>
                          </div>

                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body p-0">
                          <div class="list-group list-group-numbered">
                            <a *ngFor="let mItem of mCategorylist; index as i" class="list-group-item border-0 d-flex justify-content-between align-items-start text-decoration-none text-reset" [ngClass]="{'active bg-warning bg-opacity-10': mItem.media.id === mVideoId }" [routerLink]="['/media/watch']" [queryParams]="{ video: mItem.media.id, playlist: mPlaylistId }" queryParamsHandling="merge">
                              <div class="ms-2 me-auto flex-grow-1">
                                <!-- <div class="fw-bold">{{ mItem?.media.title }}</div> -->
                              <div class="text-wrap" style="word-break: break-word; white-space: normal;">
                              </div>
                                <app-media-card [data]="mItem.media"/>
                              </div>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Entity -->
                  <div *ngIf="mEntitylist && mEntity;" class="accordion mb-3" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                          <div class="align-items-start">
                            <span class="fw-semibold text-truncate">
                              {{ mEntity?.name }}
                            </span> <br>
                            <small class="text-muted text-xs">
                              {{ mCurrentEntitylistIndex+1}}/{{ mEntity?.total_media }}
                            </small>
                          </div>

                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body p-0">
                          <div class="list-group list-group-numbered">
                            <a *ngFor="let mItem of mEntitylist; index as i" class="list-group-item border-0 d-flex justify-content-between align-items-start text-decoration-none text-reset" [ngClass]="{'active bg-warning bg-opacity-10': mItem.id === mVideoId }" [routerLink]="['/media/watch']" [queryParams]="{ video: mItem.id, entity: mEntityId }" queryParamsHandling="merge">
                              <div class="ms-2 me-auto flex-grow-1">
                              <div class="text-wrap" style="word-break: break-word; white-space: normal;">
                              </div>
                                <app-media-card [data]="mItem"/>
                              </div>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- mRelatedComponent -->
                  <div>
                    <app-related #mRelatedComponent *ngIf="item" [data]="item"/>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>


<section>

  <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Share media</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-center gap-3">
            <a [href]="'https://www.facebook.com/sharer/sharer.php?u='+mCurrentUrl" target="_blank" class="btn btn-outline-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 48px; height: 48px;">
              <i class="bi bi-facebook fs-4"></i>
            </a>
            <a [href]="'https://twitter.com/intent/tweet?url='+mCurrentUrl"
              target="_blank"
              class="btn btn-outline-info rounded-circle d-flex align-items-center justify-content-center"
              style="width: 48px; height: 48px;">
              <i class="bi bi-twitter fs-4"></i>
            </a>
            <a [href]="'https://www.linkedin.com/shareArticle?url='+mCurrentUrl" target="_blank" class="btn btn-outline-secondary rounded-circle d-flex align-items-center justify-content-center" style="width: 48px; height: 48px;">
              <i class="bi bi-linkedin fs-4"></i>
            </a>
            <a [href]="'https://wa.me/?text='+mCurrentUrl" target="_blank" class="btn btn-outline-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 48px; height: 48px;">
              <i class="bi bi-whatsapp fs-4"></i>
            </a>
          </div>
        </div>
        <div class="modal-footer">
          <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="mCurrentUrl" readonly/>
            <div class="input-group-text text-primary" (click)="copyUrl()">COPY</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Save to...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="mMyPlaylists && mMyPlaylists.length>0"  class="mb-3">
            <div *ngFor="let mList of mMyPlaylists" class="form-check">
              <input (change)="onSave(mList, $event)" type="checkbox" class="form-check-input" [checked]="isInList(mList.id, item.media_playlists)"/>
              <label class="me-1">{{ mList.name }}</label>
            </div>
          </div>
        </div>
        <div class="modal-footer d-block">
          <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)" *ngIf="mCreateIndex === 1">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="name" class="form-label required">Name:</label>
                  <input formControlName="name" class="form-control form-control-sm" [ngClass]="{'is-invalid': itemForm.get('name')?.invalid && (itemForm.get('name')?.dirty || itemForm.get('name')?.touched) }"/>
                  <div *ngIf="itemForm.get('name')?.invalid && (itemForm.get('name')?.dirty || itemForm.get('name')?.touched)" class="invalid-feedback d-block" role="alert">
                    <div *ngIf="itemForm.get('name')?.errors?.['required']">This field is required.</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="type_id" class="form-label required">Type:</label>
                  <select class="form-select" formControlName="type_id"
                    [ngClass]="{ 'is-invalid': itemForm.get('type_id')?.invalid && (itemForm.get('type_id')?.dirty || itemForm.get('type_id')?.touched) }">
                    <option value="" disabled selected>--- Select type ---</option>
                    <option *ngFor="let mType of mTypes" value="{{mType.id}}">{{ mType.name }}</option>
                  </select>
                  <div *ngIf="itemForm.get('type_id')?.invalid && (itemForm.get('type_id')?.dirty || itemForm.get('type_id')?.touched)" class="invalid-feedback d-block1" role="alert">
                    <div *ngIf="itemForm.get('type_id')?.errors?.['required']">This field is required.</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label required1">Description:</label>
                  <textarea formControlName="description" class="form-control form-control-sm" [ngClass]="{'is-invalid': itemForm.get('description')?.invalid && (itemForm.get('description')?.dirty || itemForm.get('description')?.touched) }"></textarea>
                  <div *ngIf="itemForm.get('description')?.invalid && (itemForm.get('description')?.dirty || itemForm.get('description')?.touched)" class="invalid-feedback d-block" role="alert">
                    <div *ngIf="itemForm.get('description')?.errors?.['required']">This field is required.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-end">
              <button type="button" (click)="onCancelCreate()" class="btn btn-light btn-sm me-1">Cancel</button>
              <button [disabled]="itemForm.invalid" type="submit" class="btn btn-success btn-sm">Create</button>
            </div>
          </form>
          <div *ngIf="mCreateIndex===0">
            <p (click)="onShowCreate()"><i class="bi bi-plus-lg me-2"></i>Create a new playlist</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
