<section class="content">
  <div class="container my-4">
      <div class="row justify-content-center">
          <div class="col-md-12">
              <div class="card rounded-0 shadow-none">
                  <div class="card-header">
                      <h5 class="title text-success">Privacy Policy</h5>
                  </div>

                  <div class="card-body">

                    <div class="justify-text">
                      <p>The privacy of our users and meeting attendees is of extreme importance to us. This
                          privacy policy document outlines the types of personal information we receive and/or
                          collect and how it is used.</p>

                      <p>We collect user email, phone, organization, designation etc information on our mobile
                          app to enable us know how attended our meetings, and from what company or agency. Your
                          data is secure and not disclosed to any 3rd parties.</p>
                      <ol>
                          <li><strong>What personal information do we collect from the people that use our app?</strong></li>
                          <p>When using our app, as appropriate, you may be asked to enter your name, email address, designation
                              and/or other details to help us have records of who attened our meetings.</p>
                          <li><strong>How do we use your information?</strong></li>
                          <p>We may use the information we collect in the following ways:</p>
                          <ul>
                              <li>To know the total number and contact details of persons who attended our meetings.</li>
                              <li>To share any follow up communication with our the meetings' attendees.</li>
                          </ul>
                          <li><strong>Third Party Disclosure</strong></li>
                          <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable
                            information unless we provide you with advance notice.</p>
                          <p>However, We may release your information when we believe release is appropriate to comply with
                            the law, or protect our rights (or those of others), property, or safety.</p>
                          <li><strong>Deletion of User Information</strong></li>
                          <p>We will delete your information or data anytime you send us an email on
                            <strong>info&#64;anzaacademy.com</strong> to do the same.</p>
                      </ol>
                      <p>If there are any questions regarding this privacy policy don't hesitate to contact us.</p>
                  </div>
                </div>

              </div>
          </div>
      </div>
  </div>
</section>
