/* You can add global styles to this file, and also import other style files */

/*--===================================Common===================================--*/
// // //html
// // html{
// //   scroll-behavior: smooth;
// // }
// //font
// @font-face {
//   // Downloaded from https://freefontsfamily.com/tw-cen-mt-font-free-2/
//   font-family: 'TwCenMT'; /*a name to be used later*/
//   src:url(/assets/fonts/tw-cen-mt-std/TwCenMTStd.otf);/*URL to font*/
//   // font-family: 'Futura'; /*a name to be used later*/
//   // src:url(/assets/fonts/futura.futur.tff);/*URL to font*/
// }
// body{
//   font-family: TwCenMT !important;
//   // font-family: 'Futura' !important;
//   // font-family:  "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
//   background: $body-bg !important;
// }


// Override bootstrap colors
$success: #076C3A; //198754;
// $success: #0262C0;
$white: #ffffff;
$black: #000000;
$danger: #BF2835; //dc3545;

.justify-text {
  text-align: justify !important;
}

.text-xs {
  font-size: 0.75rem !important;
}
.required:after {
  content:" *";
  color: $danger;
}

.bg-gradient {
  // background: linear-gradient($danger, $success) !important;
  // background: linear-gradient(to left, var(--bs-danger), var(--bs-success)) !important;
  background: linear-gradient(to left, $danger, $success) !important;

}
.text-gradient {
  background: linear-gradient(to right, $danger, $success);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.btn-gradient {
  background: linear-gradient(to right, $success, $danger);
  color: #fff !important;
  border: none !important;
}
// Pagination
.page-item.active .page-link {
  background-color: $success;
  border-color: $success;
  color: $white;
}
.page-link:hover,.page-item.active:hover {
  color: $white !important;
  background-color: $danger !important;
  border-color: $danger !important;
}
.page-link {
  color: $success;
}
.nav-tabs {
  .nav-link{
    color: $success;
  }
  .nav-link.active{
    color: $danger !important;
    border-bottom: 2px solid $danger !important;
  }
}
.form-check-input:checked {
  background-color: $success !important;
  border-color: $success !important;
}
.bg-success {
  background-color: $success !important;
}
/*--===================================./Common===================================--*/

/*--===================================Theme===================================--*/
/* Default (light theme) */
#progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f8f9fa;
  color: #f8f9fa;
  z-index: 100;
}
/* Dark mode */
:root[data-bs-theme='dark'] #progress {
  background-color: #212529;
  color: #212529;
}
/*--===================================./Theme===================================--*/

/*--===================================./Footer===================================--*/
#footer
{
  background-color: $black !important;
  i{
    color: $danger;
  }
  a{
    color: $white !important;
  }
  a:hover{
    color: $danger !important;
    text-decoration: none;
  }
}
/*--===================================Footer===================================--*/


/*--===================================Error===================================--*/
#error{
  // https://www.shapedivider.app/
  background-image: url(/images/triangleAsymmetrical.svg);
  // background-image: url('/images/triangleAsymmetrical.svg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
/*--===================================./Error===================================--*/


/*--===================================Auth===================================--*/
#auth {
  min-height: 100vh;
  .login-page, .register-page {
    .card{
      // background-color: $body-bg !important;
      // box-shadow: none !important;
      // border-radius: 0 !important;
      // box-shadow: 2px 2px 2px 2px $body-bg;
      // border: none;
      // .card-header{
      //   border-bottom: 0;
      // }
      a{
        text-decoration: none;
        color: $success;
      }
      a:hover{
        color: $danger
      }
    }
  }
}
/*--===================================./Auth===================================--*/


/*--===================================AdminLTE===================================--*/
#adminLTE{
  //mainheader
  .app-header{
    .dropdown-item.active,
    .dropdown-item:active {
      // color: $white;
      // text-decoration: none;
      background-color: $success;
    }
  }
  .app-sidebar{

  }
  .app-main{

  }
  // main-footer
  footer {
    a{
      color: $success !important;
    }
    a:hover{
      color: $danger !important;
      text-decoration: none !important;
    }
  }
}
/*--===================================./AdminLTE===================================--*/
