.scroll-wrapper {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background: transparent;

  .scroll-track {
    display: inline-block;
    animation: scroll-left 40s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .scroll-item {
    display: inline-block;
    margin: 0 10px;
  }
}
