<!-- <app-progress *ngIf="mProgress"/> -->
<!-- <section>
  <div class="app-content-header"> -->
    <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="mb-0">Categories</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Categories</li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
          </ol>
        </div>
      </div>
    </div> -->
  <!-- </div>

  <div class="app-content">
    <div class="container-fluid"> -->

      <!-- <div class="row">
        <div class="col-lg-12 col-12"> -->

          <div class="card">
            <div class="card-body">

              <!-- <div class="mb-3">
                <div class="dropzone" [class.dragging]="isDragging">
                  <p *ngIf="!selectedFile">Drag & drop a video here, or click to select</p>
                  <p *ngIf="selectedFile">Selected: {{ selectedFile.title }}</p>
                  <input type="file" hidden (change)="onFileSelected($event)" accept="video/*" #fileInput>
                  <button (click)="fileInput.click()" class="btn btn-light btn-sm">Choose File</button>
                </div>
              </div>

              <div class="mb-3">
                <input type="text" [(ngModel)]="title" placeholder="Title" class="form-control">
              </div> -->
              <!-- <div class="mb-3">
                <textarea [(ngModel)]="description" placeholder="Description" class="form-control"></textarea>
              </div> -->

              <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">
                <div class="row mb-3">
                  <div class="col-md-12">
                    <div class="mb-3">
                      <div class="dropzone" [class.dragging]="isDragging">
                        <p *ngIf="!selectedFile">Drag & drop a video here, or click to select</p>
                        <p *ngIf="selectedFile">Selected: {{ selectedFile.name }}</p>
                        <input type="file" hidden (change)="onFileSelected($event)" accept="video/*" #fileInput>
                        <button (click)="fileInput.click()" type="button" class="btn btn-light btn-sm">Choose File</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label for="title" class="form-label required">Title:</label>
                      <input type="text" formControlName="title" class="form-control"
                      [ngClass]="{ 'is-invalid': itemForm.get('title')?.invalid && (itemForm.get('title')?.dirty || itemForm.get('title')?.touched) }"/>
                      <div *ngIf="itemForm.get('title')?.invalid && (itemForm.get('title')?.dirty || itemForm.get('title')?.touched)" class="invalid-feedback d-block" role="alert">
                        <div *ngIf="itemForm.get('title')?.errors?.['required']">This field is required.</div>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="description" class="form-label required">Description:</label>
                  <quill-editor formControlName="description" class="w-100" [styles]="{height: '150px'}" [ngClass]="{ 'is-invalid': itemForm.get('description')?.invalid && (itemForm.get('description')?.dirty || itemForm.get('description')?.touched) }"></quill-editor>
                  <div *ngIf="itemForm.get('description')?.invalid && (itemForm.get('description')?.dirty || itemForm.get('description')?.touched)" class="invalid-feedback d-block" role="alert">
                    <div *ngIf="itemForm.get('description')?.errors?.['required']">This field is required.</div>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <div *ngIf="progress > 0">
                  <div class="progress">
                    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" [style.width.%]="progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
                  </div>
                </div>
              </div>

              <!-- <div class="text-end">
                <button (click)="upload()" [disabled]="!selectedFile" class="btn btn-primary">Upload</button>
              </div> -->

              <div class="text-end">
                <a routerLink="/my-media" class="btn btn-warning me-1">Cancel</a>
                <button [disabled]="!selectedFile || itemForm.invalid" type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>

            </div>
          </div>

        <!-- </div>
      </div>
    </div>
  </div>

</section> -->
