  .line-line {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    background-color: #DE2910; // #E87400;
    width: 0;
    animation: line-progress 1.5s ease-in-out infinite;
    z-index: 9999;
  }

  @keyframes line-progress {
    0% {
      width: 0;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
