<!-----------------------------------------progress--------------------------------------------------->
<!-- <section id="progress">
  <div class="fade show" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh;">
    <div class="text-danger">
      <div class="spinner-border"></div>
      <p><i><strong>Loading...</strong></i></p>
    </div>
  </div>
</section> -->
<!-----------------------------------------./progress--------------------------------------------------->


<!-----------------------------------------progress--------------------------------------------------->
<section id="progress">
  <div class="fade show" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh;">
    <div class="text-danger">
      <img src="images/loader.gif" class="imgg-fluid"/>
    </div>
  </div>
</section>
<!-----------------------------------------./progress--------------------------------------------------->
