<app-progress *ngIf="mProgress"/>

<section class="login-page bg-body-secondary1">
  <div class="login-box">
    <!-- <div class="login-logo">
      <a routerLink="/">
        <img src="images/logo1.png" class="img-fluid" alt="Logo" width="86">
      </a>
      <p class="text-xs text-muted mb-0">To Learn with ease at Anza<br> Academy</p>
      <h6>Recover your Account Password</h6>
    </div> -->
    <div class="card">
      <div class="card-header text-center">
        <div class="login-logo p-0 m-0">
          <a routerLink="/">
            <img src="images/logo_wide.png" class="img-fluid w-25" alt="Logo">
          </a>
        </div>
      </div>
      <div class="card-body login-card-body">
        <p class="login-box-msg text-danger">Recover your account password now</p>

        <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm.value)">
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="password"
            [ngClass]="{ 'is-invalid': itemForm.get('password')?.invalid && (itemForm.get('password')?.dirty || itemForm.get('password')?.touched) }"/>
            <div class="input-group-text">
              <span class="bi bi-lock-fill"></span>
            </div>
            <div *ngIf="itemForm.get('password')?.invalid && (itemForm.get('password')?.dirty || itemForm.get('password')?.touched)" class="invalid-feedback d-block" role="alert">
              <div *ngIf="itemForm.get('password')?.errors?.['required']">This field is required.</div>
              <div *ngIf="itemForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password Confirmation" formControlName="password_confirmation"
            [ngClass]="{ 'is-invalid': itemForm.get('password_confirmation')?.invalid && (itemForm.get('password_confirmation')?.dirty || itemForm.get('password_confirmation')?.touched) }"/>
            <div class="input-group-text">
              <span class="bi bi-lock-fill"></span>
            </div>
            <div *ngIf="itemForm.get('password_confirmation')?.invalid && (itemForm.get('password_confirmation')?.dirty || itemForm.get('password_confirmation')?.touched)" class="invalid-feedback d-block" role="alert">
              <div *ngIf="itemForm.get('password_confirmation')?.errors?.['required']">This field is required.</div>
              <div *ngIf="itemForm.get('password_confirmation')?.errors?.['passwordsDoNotMatch']">Passwords do not match.</div>
            </div>
          </div>
          <p class="mb-0">
            <small>Want to sign in? <a routerLink="/auth/login" class="text-center"> Login</a></small>
          </p>
						<div class="float-end">
							<button [disabled]="itemForm.invalid" type="submit" class="btn btn-success">Submit</button>
						</div>
        </form>
      </div>
    </div>
  </div>
</section>
